[package]
name = "vacro-parser-macro"
version = "0.1.6"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }

[features]
standalone = []
